.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 0px 50px 0px 50px;
  padding-top: 91px;
  padding-bottom: 94px;
  scroll-behavior: smooth;
}

.header__menu {
  line-height: 22px;
  justify-self: start;
  align-items: center;
}

.header__links-list {
  display: flex;
  height: 100%;
  gap: 32px;
  flex-wrap: wrap;
}

.header__links-list-item {
  list-style-type: circle;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header__link {
  font-size: 18px;
  text-decoration: none;
}

.header__links_no-bullit {
  list-style: none;
}

.header__logo {
  display: block;
  width: 136px;
  height: 108px;
}

.address {
  max-width: 242px;
  font-size: 18px;
  font-style: normal;
  line-height: 25px;
}

.address__plase {
  justify-self: end;
}

.cover {
  position: relative;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  padding: 165px 50px 49px 50px;
  background-position: center;
  min-height: 757px;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 159px;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.cover__title {
  text-transform: uppercase;
  position: relative;
  color: #ffffff;
  letter-spacing: 0.3em;
  font-weight: 700;
  font-size: 100px;
  line-height: 114.99999999999999%;
  padding-bottom: 106px;
}

.aligned-text {
  padding-top: 22px;
}

.aligned-text_center {
  display: block;
  text-align: center;
  padding-left: 0.3em;
}

.aligned-text_right {
  display: block;
  text-align: right;
  margin-right: -0.3em;
}

.cover__description-text {
  display: flex;
  color: #ffffff;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 28px;
  margin: 0;
}

.cover__description {
  word-spacing: 18.5px;
}

.bet-button {
  border: 1px solid #ffffff;
  padding: 12px 32px 11px 31px;
  font-weight: 500;
  background-color: transparent;
}

.lots {
  padding: 0 24px 0 24px;
  margin-bottom: 117px;
}

.lots-lots {
  font-size: 40px;
  width: 1100px;
}

.lots__heading {
  font-size: 40px;
  padding-top: 20px;
  padding-left: 39px;
  padding-bottom: 28px;
  text-transform: uppercase;
  line-height: normal;
  color: #000000;
}

.lots__card-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.lots__card-list-item {
  list-style: none;
  width: 334px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 596px;
  background-position:center;
  background-size: cover;
}

.card_type {
  width: 334px;
  z-index: 0;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card__title {
  font-size: 22px;
  line-height: 121%;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #ffffff;
  padding: 46px 29px 7px 38px;
}

.card__text {
  font-size: 20px;
  line-height: 120%;
  color: #ffffff;
  padding-left: 41px;
  padding-bottom: 48px;
  padding-right: 36px;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  display: block;
  padding-top: 14px;
  padding-left: 40px;
  font-size: 20px;
  margin-top: 16px;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  align-items: center;
  width: 1052px;
  margin: 0px 24px 180px 24px;
}

.about__column {
  padding: 35px 765px 320px 47px;
}

.about__logo-image {
  width: 149px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background: #000;
  margin: 0 auto;
}

.about__title {
  padding-top: 138px;
  font-size: 40px;
  line-height: 46px;
  text-transform: uppercase;
  color: #000000;
}

.about__text {
  padding-top: 99px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 20px;
  line-height: 1.2;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 50px 79px;
  align-items: start;
}

.footer__menu {
  list-style: none;
  text-align: center;
}

.footer__menu-list {
  color: #000;
  font-size: 18px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-link {
  list-style: none;
  display: flex;
  gap: 48px;
  justify-content: end;
}

.footer__social-list {
  display: block;
  width: 48px;
  height: 48px;
}
