.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 0px 50px 0px 50px;
  min-height: 293px;
  scroll-behavior: smooth;
}

.header-menu {
  line-height: 22px;
  justify-self: start;
  align-items: center;
}

.header-menu-list {
  display: flex;
  height: 100%;
  gap: 32px;
  flex-wrap: wrap;
}

.header-menu-list-item {
  list-style-type: circle;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header__links-list {
  text-underline-offset: 4px;
  text-decoration: none;
  list-style: none;
}

.header__link {
  font-size: 18px;

}

.link_active {
 text-decoration: none;
}

.header-logo {
  display: block;
  width: 136px;
  height: 108px;
}

.address {
  max-width: 242px;
  font-size: 18px;
  font-style: normal;
  line-height: 25px;
}

.header_end {
  justify-self: end;
}

.header-address-no-decor {
  text-decoration: none;
  display: block;
}

.cover {
  position: relative;
 /* margin-bottom: 180px;*/
  background-image: url("../images/cover.jpg");
  background-size: cover;
  padding: 165px 50px 49px 50px;
  background-position: center;
  min-height: 757px;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.cover-title {
  text-transform: uppercase;
  position: relative;
  color: #ffffff;
  letter-spacing: 0.3em;
  font-weight: 700;
  font-size: 100px;
  line-height: 114.99999999999999%;
  padding-bottom: 106px;
}

.cover-title__part_two {
 /* padding-left: 30px;*/
  padding-top: 22px;
}

.cover-title-tebe {
  display: block;
  text-align: center;
  padding-left: 0.3em;
}

.cover-title-nado {
  display: block;
  text-align: right;
  padding-left: 6.15em;
}

.description {
  display: flex;
  color: #ffffff;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 28px;
  margin: 0;
}

.cover_description {
  word-spacing: 18.5px;
}

.cover-button {
  border: 1px solid #ffffff;
  padding: 12px 32px 11px 31px;
  font-weight: 500;
  background-color: transparent;
}

.lots {
  padding: 0 24px 0 24px;
}

.lots-lots { 
 position: absolute;
 width: 1100px;
 min-height: 723px;
 top: 1230px;
}

.lots__heading {
  position: absolute;
  left: 64px;
  font-size: 40px;
  text-transform: uppercase;
  line-height: normal;
  color: #000000;
}

.lots_card-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.lots__card-list-item {
  list-style: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_menu{
  position: absolute;
  width: 334px;
  min-height: 596px;
  top: 74px;
  z-index: 0;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card__title {
  position: absolute;
  left: 40px;
  right: 40px;
  top: 48px;
  font-size: 22px;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #ffffff;
}

.card__text {
  position: absolute;
  left: 40px;
  right: 40px;
  bottom: 48px;
  font-size: 20px;
  line-height: 120%;
  color: #ffffff;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  left: 383px; 
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  left: 742px;
}

.more {
  position: absolute;
  height: 25px;
  left: 63px;
  bottom: -2px;
  font-size: 20px;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  align-items: center;
  position: absolute;
  width: 1052px;
  top: 2072px;
  margin: 0px 24px 180px 24px;
}

.about_column {
  padding: 35px 765px 320px 47px;
}

.image {
  width: 149px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background: #000;
  margin: 0 auto;
}

.about__title {
  padding-top: 138px;
  font-size: 40px;
  line-height: 46px;
  text-transform: uppercase;
  color: #000000;
  position: absolute;
}

.about__text {
  padding-top: 283px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 20px;
  line-height: 1.2;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 50px 90px;
  align-items: start;
}

.footer-footer {
    margin-top: 1799px;
}

.footer-address-no-decor {
    text-decoration: none;
    display: block;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
}

.footer__menu-link {
  color: #000;
  font-size: 18px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  list-style: none;
  display: flex;
  gap: 48px;
  justify-content: end;
}

.footer__social-link {
  display: block;
  width: 48px;
  height: 48px;
}
